*{margin: 0;padding: 0;}
		#header{background-color: #3b5998;
				color: white;}
		#header_inner{width: 1000px;
						margin-right: auto;
						margin-left: auto;
						}
		#content{background-color: #e0e4ef;}
		#content_inner{width: 1000px;
						margin-right: auto;
						margin-left: auto;
						}		
		#footer_inner{width: 1000px;
						margin-right: auto;
						margin-left: auto;
						}		
		a:link{text-decoration: none;
				color: #365899;}	

#logo{width: 500px;
				float: left;
			}
#log_in_details{
	width: 350px;float: left;margin-left: 150px;
}
#logo h1{
	font-family: sans-serif;padding-top: 30px;
}
.header_input{
float: left;padding-top: 10px;margin-right: 10px;	
}
.header_input input{
	display: block;width: 140px;
}
#log_in_details_inner a{
color: #9cb4c4;
}
.login_button{
padding-top: 25px;	
}
.float_solver{clear: both;}

.message{
	float: left;width: 500px; padding-top: 50px; margin-right: 100px;
}
.sign_up_side{
float: left;width: 400px; padding-top: 40px;
}
.sign_up_side h1, h3, h3+div{padding-bottom: 10px;}

div.sign_up_side>input{
	margin-bottom: 10px;font-size: 20px;width: 398px;border-radius: 6px;
}