*{margin: 0;padding: 0;}
		#header{background-color: #3b5998;
				color: white;}
		#header_inner{width: 1000px;
						margin-right: auto;
						margin-left: auto;
						}
		#content{background: linear-gradient(white, #D3D8E8);}
		#content_inner{width: 1000px;
						margin-right: auto;
						margin-left: auto;
						}		
		#footer_inner{width: 1000px;
						margin-right: auto;
						margin-left: auto;
						}		
		a:link{text-decoration: none;
				color: #365899;}	

#logo{width: 500px;
				float: left;
			}
#log_in_details{
	width: 370px;float: left;margin-left: 130px;
}
#login_button{background-color: #4267b2;
border-color:#29487d;
border:1px solid #666;
	border-radius:2px;
	padding:2px 6px;
	color: #666;
}
#logo h1{
	font-family: sans-serif;padding-top: 30px;
}
.header_input{
float: left;padding-top: 10px;margin-right: 10px;	
}
.header_input input{
	display: block;width: 140px;
}
#log_in_details_inner a{
color: #9cb4c4;
}
.login_button{
margin-top: 28px;
background: none;
	border:0;
	color: #fff;
	cursor:pointer;
	font-weight: bold;
	line-height: 18px;
	text-align: center;
	text-shadow:none;	
}
.float_solver{clear: both;}

.message{
	float: left;width: 500px; padding-top: 50px; margin-right: 100px;
}
.sign_up_side{
float: left;width: 400px; padding-top: 40px;
}
.sign_up_side h1, h3, h3+div{padding-bottom: 10px;}

div.sign_up_side>input{
	margin-bottom: 10px;
width: 398px;
border-radius: 6px;
width: 375px;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;
border-color: #bdc7d8;
border: 1px solid #bdc7d8;
font-family: helvetica;
}
.date_of_birth{
	margin-top: 10px;float: left; margin-right: 25px;
}
div.date_of_birth+div{
	width: 320px;
}
.radiobuttons{
	margin-top: 20px;margin-bottom: 20px;
}
div.sign_up_side p{
	font-size: 0.75em;width: 320px;
}
.some_space_under{
	margin-bottom: 30px;
}
.link1{padding-bottom: 20px;}

.link2{padding-top: 20px;}

.firstname{
width: 175px;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;
border-color: #bdc7d8;
border: 1px solid #bdc7d8;
font-family: helvetica;
}
.surname{
width: 175px;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;
border-color: #bdc7d8;
border: 1px solid #bdc7d8;
font-family: helvetica;
}
.sign_up_button{
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
	margin-top: 20px;margin-bottom: 20px;
	font-size: 19px;
	letter-spacing: normal;
	min-width: 194px;
	padding: 7px 20px;
	background: linear-gradient(#67ae55,#578843);
	box-shadow: inset 0 1px 1px #a4e388;
	border-color:#3b6e22 #3b6e22 #2c5115;
	border: 1px solid #3b6e22;
	border-radius: 5px;
	color: #fff;
	cursor:pointer;
	text-shadow: 0 1px 2px #8d6666;

}
.femaleradio{
	margin-right: 20px;
}
.speciallink{
	font-size: 0.75em;
}

select{font-size: 13px;
height: 30px;
padding: 5px;
border: 1px solid #bdc7d8;}